<div class="container-fluid mt-3">    
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let car of favoriteCars">
                    <div class="card h-100 bg-dark text-white shadow-sm">
                        <img [src]="car.image" class="card-img-top" style="height: 220px; object-fit: cover;" referrerpolicy="no-referrer">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title fw-bold mb-1">{{ car.brand }} {{ car.model }}</h5>
                            <h4 class="text-primary">{{ car.price }} €</h4>
                            <div class="mt-auto">
                                <button class="btn btn-danger w-100 mt-2" (click)="removeFromFavs(car.id)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>