/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('https://wallpapercave.com/wp/wp3645505.jpg');
    background-size: cover;
}

.text-primary {
    color: gold !important;
}