body {
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpapercave.com/wp/wp3645505.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

.text-primary {
    color: gold !important;
}